body {
    font-family: Cambria, 'Times New Roman', serif;
}

.navbar-brand {
    font-size: 20px;
    padding-left: 150px;
}

.job-board {
    font-size: 12px;
    color: greenyellow;
    font-weight: bold;
}

.center-nav {
    margin-left: 200px;
}

.nav-left {
    margin-left: 50px;
}

.content {
    padding-top: 80px;
}

.para {
    font-size: 40px;
    text-transform: capitalize;
}

.job-vacancies .num-job {
    color: greenyellow;
}

.job-vacancies p {
    font-size: 12px;
}