.up-container {
    background-image: url(bg_image.jpg);
    /* background-color: aliceblue; */
}

.navbar-brand {
    padding-left: 250px;
}

.nav{
    padding-right: 130px;
}

.para {
    padding-top: 150px;
}